@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-roboto text-white;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl md:text-3xl;
  }
}

@layer components {
  .btn {
    @apply rounded-full bg-gradient-to-l from-[#159957] to-[#155799] py-2 px-5 transition-all hover:scale-125;
  }
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("/fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}
